
//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
	listen-on port 53 { any ; };
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query {
	  {% if 'TEST' in groups %}
          {% if groups['TEST']|length > 0 %}
          {{ hostvars[groups['TEST'][0]]['ansible_eth0']['ipv4']['address'] }};
          {% endif %}
          {% endif %}

          {% if 'DNS' in groups %}
          {% for ns in groups['DNS'] %}
          {{ hostvars[ns]['ansible_eth0']['ipv4']['address'] }};
          {% endfor %}
          {% endif %}

          {% if 'NFS' in groups %}
          {% if groups['NFS']|length > 0 %}
          {{ hostvars[groups['NFS'][0]]['ansible_eth0']['ipv4']['address'] }};
          {% endif %}
          {% endif %}

          {% if 'RHUA' in groups %}
          {% if groups['RHUA']|length > 0 %}
          {{ hostvars[groups['RHUA'][0]]['ansible_eth0']['ipv4']['address'] }};
          {% endif %}
          {% endif %}

          {% if 'PROXY' in groups %}
          {% if groups['PROXY']|length > 0 %}
          {{ hostvars[groups['PROXY'][0]]['ansible_eth0']['ipv4']['address'] }};
          {% endif %}
          {% endif %}

          {% if 'CDS' in groups %}
          {% for cds in groups['CDS'] %}
          {{ hostvars[cds]['ansible_eth0']['ipv4']['address'] }};
          {% endfor %}
          {% endif %}

          {% if 'HAPROXY' in groups %}
          {% for haproxy in groups['HAPROXY'] %}
          {{ hostvars[haproxy]['ansible_eth0']['ipv4']['address'] }};
          {% endfor %}
          {% endif %}

          {% if 'CLI' in groups %}
          {% for cli in groups['CLI'] %}
          {{ hostvars[cli]['ansible_eth0']['ipv4']['address'] }};
          {% endfor %}
          {% endif %}
         };

        /*
	 - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
	 - If you are building a RECURSIVE (caching) DNS server, you need to enable 
	   recursion. 
	 - If your recursive DNS server has a public IP address, you MUST enable access 
	   control to limit queries to your legitimate users. Failing to do so will
	   cause your server to become part of large scale DNS amplification 
	   attacks. Implementing BCP38 within your network would greatly
	   reduce such attack surface 
	*/
	recursion yes;

	dnssec-enable no;
	dnssec-validation no;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
        forwarders {
          {{ original_nameserver.stdout|trim }};
        };
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
	};

    channel default_file {
        file "/var/run/named/default.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel general_file {
        file "/var/run/named/general.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel database_file {
        file "/var/run/named/database.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel security_file {
        file "/var/run/named/security.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel config_file {
        file "/var/run/named/config.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel resolver_file {
        file "/var/run/named/resolver.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel xfer-in_file {
        file "/var/run/named/xfer-in.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel xfer-out_file {
        file "/var/run/named/xfer-out.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel notify_file {
        file "/var/run/named/notify.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel client_file {
        file "/var/run/named/client.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel unmatched_file {
        file "/var/run/named/unmatched.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel queries_file {
        file "/var/run/named/queries.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel network_file {
        file "/var/run/named/network.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel update_file {
        file "/var/run/named/update.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel dispatch_file {
        file "/var/run/named/dispatch.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel dnssec_file {
        file "/var/run/named/dnssec.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };
    channel lame-servers_file {
        file "/var/run/named/lame-servers.log" versions 3 size 5m;
        severity dynamic;
        print-time yes;
    };

    category default { default_file; };
    category general { general_file; };
    category database { database_file; };
    category security { security_file; };
    category config { config_file; };
    category resolver { resolver_file; };
    category xfer-in { xfer-in_file; };
    category xfer-out { xfer-out_file; };
    category notify { notify_file; };
    category client { client_file; };
    category unmatched { unmatched_file; };
    category queries { queries_file; };
    category network { network_file; };
    category update { update_file; };
    category dispatch { dispatch_file; };
    category dnssec { dnssec_file; };
    category lame-servers { lame-servers_file; };
};



zone "." IN {
	type hint;
	file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

zone "example.com" { type master; file "/var/named/db.example.com"; };
